name: CI/CD Pipeline

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Create api-core.env file
        working-directory: ./rayanesh_bot
        run: |
            touch api-core.env
            echo "${{secrets.API_CORE_ENV}}" >> api-core.env

      - name: Build and run tests
        working-directory: ./rayanesh_bot
        run: |
          docker compose up --build -d --remove-orphans
          docker compose exec web python manage.py test

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_test
    steps:
      - name: Set up SSH key for remote server
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H $SERVER_IP >> ~/.ssh/known_hosts

      - name: Deploy to remote server
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SERVER_IP: ${{ secrets.SERVER_IP }}
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa $SERVER_USER@$SERVER_IP <<EOF
            cd Rayanesh-PR-Bot/rayanesh_bot
            docker compose pull
            docker compose up -d --build
          EOF
