name: CI/CD Pipeline

on:
  push:
    branches:
      # - master
      - dev/django-impl
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install ssh client
        run: sudo apt-get install -y openssh-client

      - name: Configure SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add remote server's SSH key to known_hosts
        run: |
          ssh-keyscan -t rsa ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Git Pull
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "cd ${{ secrets.REPO_PATH }} && git checkout dev/django-impl && git pull origin dev/django-impl"

      - name: Create api-core.env file
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "cd ${{ secrets.REPO_PATH }} && touch api-core.env && echo ${{secrets.API_CORE_ENV}} > api-core.env"
            
      - name: Build, Migrate, and Run
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "cd ${{ secrets.REPO_PATH }} && sudo docker-compose up --build -d --remove-orphans"
